<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <meta-data
        android:name="google_analytics_adid_collection_enabled"
        android:value="false" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name=".view.activity.SignUpActivity"/>
        <activity android:name=".view.activity.PasswordResetActivity"/>
        <activity android:name=".view.activity.MemberInitActivity"/>
        <activity android:name=".view.activity.CameraActivity"/>
        <activity android:name=".view.activity.GalleryActivity"/>
        <activity android:name=".view.activity.BasicActivity"/>
        <activity android:name=".view.activity.WritePostActivity"/>
        <activity android:name=".view.activity.PostActivity"/>
        <activity android:name=".view.activity.AdminActivity"/>
        <activity android:name=".view.activity.TestDeepLearningActivity"/>
        <activity android:name=".view.activity.BoardListActivity"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="a0c642890881f819a7a86e2cdfdb7534"/>   <!--네이티브 앱 키 넣기-->
    </application>

</manifest>